<div class="h-screen flex flex-col justify-center items-center bg-gray-100">
  <div class="max-w-2xl">
    <%= image_tag("auth.png") %>
  </div>

  <div class="max-w-sm flex flex-col items-center gap-2">
    <label for="">Email</label>
    <input type="text" placeholder="crabigator@durtles.com">
    <label for="">Password</label>
    <input type="password" placeholder="ilovelearningkanji">
    <label for="">Reenter password</label>
    <input type="password" placeholder="ilovelearningkanji">
  </div>
</div>
