<div class="h-screen flex flex-col justify-center items-center gap-8 bg-gray-100">
  <div class="max-w-4xl">
    <%= image_tag("auth.png") %>
  </div>

  <div class="w-full max-w-sm flex flex-col items-stretch gap-4">
    <div class="flex flex-col gap-1">
      <label for="" class="text-gray-400">Username</label>
      <input class="rounded border border-gray-300 placeholder-gray-400" type="text" placeholder="KanjiMaster888">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-gray-400">Email</label>
      <input class="rounded border border-gray-300 placeholder-gray-400" type="password" placeholder="crabigator@durtles.com">
    </div>
    <div class="flex flex-col gap-1">
      <label for="" class="text-gray-400">Password</label>
      <input class="rounded border border-gray-300 placeholder-gray-400" type="password" placeholder="ilovelearningkanji">
    </div>
    <button class="mt-4 py-2 border border-gray-400 rounded-md text-gray-700">Sign Up</button>
  </div>
</div>
