<div class="h-screen flex flex-col">
  <div class="h-60 bg-purple-500 flex flex-col">
    <div class="flex flex-row justify-between text-white">
      <span>Home</span>
      <div class="flex flex-row gap-2">
        <span>Accuracy</span>
        <span>Completed</span>
        <span>Reviews</span>
      </div>
    </div>
    <span class="flex-1 flex flex-col justify-center items-center text-8xl text-white font-medium">
      全景
    </span>
  </div>
  <div class="h-14 bg-gray-800 flex flex-col justify-center items-center">
    <span class="text-white">Vocabulary Meaning</span>
  </div>
  <div class="flex-1 p-4 flex flex-col gap-4 bg-gray-100">
    <input 
    type="text" 
    class="w-full text-center"
    placeholder="答え"
    >
    <div class="flex flex-row justify-between gap-2">
      <button class="flex-1 py-2 flex flex-row justify-center items-center bg-white border border-gray-300">Wrap Up</button>
      <button class="flex-1 py-2 flex flex-row justify-center items-center bg-white border border-gray-300">Last 10</button>
      <button class="flex-1 py-2 flex flex-row justify-center items-center bg-white border border-gray-300">Item Info</button>
      <button class="flex-1 py-2 flex flex-row justify-center items-center bg-white border border-gray-300">Kana Chart</button>
      <button class="flex-1 py-2 flex flex-row justify-center items-center bg-white border border-gray-300">Pronounciation</button>
    </div>
  </div>
</div>
